.navbar_container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: 5rem;
    background: linear-gradient(to right, #dc2424, #4a569d);
    font-size: 2rem;
}
.navbar_list,li{
   display: inline-block;
   margin: 5rem ;
   font-weight: 600;
   cursor: pointer;
   font-size: 2rem;
}

.btn{
    all: unset;
}
.logo{
    cursor: pointer;
    text-decoration: none;

}
@media only screen and (max-width: 600px){
    .navbar_container{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        height: 5rem;
        background-color:rgb(37, 236, 153);
        font-size: 2rem;
    }
    .navbar_list,li{
        display: flex;
        font-weight: 600;
        cursor: pointer;
        font-size: 1.6rem;
        margin-left: 0rem;
        margin-right: 3rem;
    }
    .logo{
        cursor: pointer;
        text-decoration: none;
        font-size: 2rem;
        margin-left: 10px;
    
    }

}

